body {
	background-color: #F2F3F4;
}

#banner_color {
	height: 200px;
	width: 1500px;
	margin-left: -20px;
	margin-top: -120px;
	background-color: #D3F3F8;
}

#title {
	font-family: 'Indie Flower', cursive;
	font-size: 108px;
	padding-top: 50px;
	margin-left: 75px;
}

#slogan {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	float: right;
	margin-right: 175px;
	letter-spacing: 5px;
	margin-top: -190px;
}

#nav_bar_color {
	height: 72.5px;
	width: 1500px;
	background-color: #F1E7E4;
	margin-left: -20px;
	margin-bottom: 50px;
}

#nav_bars {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	float: left;
	margin-left: 75px;
	margin-top: 20px;
}

#nav_bars_home {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	float: left;
	padding-left: 180px;
	margin-left: 150px;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #D3F3F8;
}

#about_pic {
	width: 700px;
	padding-left: 50px;
	padding-right: 50px;
	
}

#about_words {
	font-family: 'Indie Flower', cursive;
	font-size: 26px;
	margin-right: 0px;
	margin-left: 50px;
	margin-top: 10px;
	padding-right: 60px;
}
